.list-book,
.list-complete-book {
  margin-bottom: 3rem;
}

.container-books,
.container-complete-books {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 0.5rem;
  gap: 1rem;

  .card {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 12px;
    box-shadow: 0 0 8px 0 rgba($color: #000000, $alpha: 0.1);

    .title-book {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--secondary-color);
    }

    .author-book {
      color: rgb(90, 90, 90);
      font-weight: 500;
    }

    .year-book {
      color: rgb(90, 90, 90);
      font-size: 0.9rem;
    }

    .btn-field {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.5rem;
      margin-top: 1rem;

      .btn {
        padding: 0.8rem 1rem;
        color: #fff;
        border-radius: 0.5rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.8rem;
        cursor: pointer;
        transition: 300ms ease-in-out;

        img {
          width: 15px;
        }
      }

      .btn-finish {
        background-color: var(--green-normal);

        &:hover {
          background-color: var(--green-hover);
        }
      }

      .btn-delete {
        background-color: var(--red-normal);

        &:hover {
          background-color: var(--red-hover);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container-books,
  .container-complete-books {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .card {
      .btn-field {
        .btn {
          font-size: .65rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container-books,
  .container-complete-books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .card {
      .btn-field {
        .btn {
          font-size: 1rem;
        }
      }
    }
  }
}
